<%= render "devise/shared/navbar" %>

<body >
<div class="container">

<!-- PROFILE-MENU -->

  <div class="user-panel">
    <div class="inner-panel" style="text-align: center;">
      <a class="form-btn" href="#popup1"> Edit Profile</a>
      <a class="btn" href="#">
        <%= cl_image_tag current_user.prof_pic.filename, class: "avatar-large", alt: "avatar-large" %>
      </a>
      <%= link_to "Delete Account", registration_path(resource_name), class: "form-btn", data: { confirm: "Are you sure?" }, method: :delete %>
    </div>
  </div>

<!-- WORK-CONTAINER -->
  <div class="work" >
    <div class="row col-6" style="height: 600px; width: 800px; align-items: center;justify-content: center; display: flex;margin: auto; border-color:#39393A;">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <% current_user.shoes.each do |shoe| %>
            <div class="carousel-item active">
              <%= cl_image_tag shoe.image %>
            </div>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

    </div>
  </div>

<!-- POP-UP EDIT FORM -->

  <div id="popup1" class="overlay">
    <div class="popup">
    <a class="close" href="#">&times;</a>
    <div>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
        <%= f.input :portfolio,
                    hint: "To register as a designer, you need to add a URL to your portfolio 😊",
                    required: false,
                    input_html: { autocomplete: "portfolio" } %>
        <p>Upload Avatar</p>
        <%= f.file_field :prof_pic %>
        <%= f.input :current_password,
                    hint: "If you want to change password, please enter your current password",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :password,
                    hint: "If you don't want to change password, please leave it blank",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
      </div>
      <div class="form-btn">
        <%= f.button :submit, "Update" %>
      </div>
    <% end %>
    </div>

<!-- EDIT FORM -->

</body>

