<!-- nav bar -->
<%= render "/devise/shared/navbar" %>

<!-- top banner -->

<div class="inside-banner mx-auto justify-content-center" >
  <h1>Moodboards</h1>
</div>

<!-- upload area -->

<div class="masonry mx-auto text-center">
  <div class="row mx-auto justify-content-center">

      <% @moodboards.each do |moodboard| %>

        <div class="shoes-cards" >

          <div class="card-img-top">
            <%= cl_image_tag moodboard.photos, :gravity=>"north_west", :crop => "lfill", class: "cloudimg" %>
          </div>

          <div class="card-body">
            <h5 class="card-title"><%= moodboard.title %></h5>
            <p class="card-text"><%= moodboard.shoe_type %></p>
          </div>

            <div class="card-footer">
              <ul class="social">
                <li><%= link_to moodboard_path(moodboard.id), method: :patch do %>
                  <i class="far fa-thumbs-up"></i>
                  <% end %>
                </li>
                <li id="votes_number"> <%= moodboard.votes %></li>
              </ul>
              <button class="btn-shoes-cards">
                <%= link_to "Moodboard", moodboard_path(moodboard.id) %>
              </button>
            </div>

        </div>

      <% end %>

  <script type="text/javascript">
    // $.get("http://localhost:3000/", function (data) {
    //     $("#myDiv").html(data);
    // });
    let votes_number = document.querySelector('#votes_number')
    let button = document.querySelectorAll('.far')
    // 1. declare variable for button
    // 2. on that button, add an event listener.
    // 3. on click, increment votes by 1
    let beep = parseInt(votes_number.innerHTML);

    button.forEach(function(vote){
      vote.addEventListener('click', () => {
        beep += 1;
        votes_number.innerHTML = beep;
      });
    });

  </script>

  </div>
</div>

