<!-- nav bar -->
<%= render "devise/shared/navbar" %>

<!-- top banner -->
<head>
  <script src="https://unpkg.com/scrollreveal"></script>
</head>

  <div class="inside-banner">
    <h1>Moodboards</h1>
  </div>

<!-- add mood -->
<%= link_to "Add Mood", new_moodboard_path, class: "btn-shoes-pop-up"  %>
<!-- tags -->

<!-- cards area -->

<div class="masonry mx-auto text-center">
  <div class="row mx-auto justify-content-center">

      <% @moodboards.each do |moodboard| %>
        <div class="shoes-cards" >
          <script type="text/javascript">
            ScrollReveal().reveal('.shoes-cards', { delay: 150, reset: true });
          </script>
          <div class="card-img-top">
            <% if moodboard.moodboard_attachments.first.nil?  %>
              <h3>Uh oh picture is not loading</h3>
            <% else %>
              <%= cl_image_tag moodboard.moodboard_attachments.first.image, :gravity=>"north_west", :crop => "lfill", class: "cloudimg" %>
            <% end %>
           </div>

          <div class="card-body">
            <h5 class="card-title"><%= moodboard.title %></h5>
            <p class="card-text"><%= moodboard.shoe_type %></p>
            <p>
              <div style="display: block">
                <% if moodboard.tag_list.present? %>
                  <% moodboard.tag_list.each do |tag| %>
                    <%= link_to tag, moodboards_path(tag: tag) %>
                  <% end %>
                <% end %>
              </div>
            </p>
          </div>

          <div class="card-footer">
            <ul class="social">
              <li><%= link_to moodboard_path(moodboard.id), method: :patch do %>
                <i class="far fa-heart like-review"  data-id=<%= moodboard.id %>></i>
                <% end %>
              </li>
              <li id="votes_number" data-id=<%= moodboard.id %>> <%= moodboard.votes %></li>
            </ul>
            <button class="btn-shoes-cards">
              <%= link_to "Moodboard", moodboard_path(moodboard.id) %>
            </button>
          </div>

        </div>
      <% end %>

<!-- Like Button functions -->


  <script type="text/javascript">

    // Variable Declarations
    let votes = document.querySelectorAll('#votes_number')
    let buttons = document.querySelectorAll('.far')

    // Custom Functions
    const like = () => {
      buttons.forEach((button) => {
        button.addEventListener('click', (e) => {
          let buttonId = e.target.dataset.id
          votes.forEach((vote) => {
            if (vote.dataset.id === buttonId) {
              vote.innerText = Number.parseInt(vote.innerText) + 1
               button.classList.add('red-heart')
               button.addAttribute("disabled");
            }
          }, {once : true});
        })
      })
    };

    // Run Functions
    like();
    // like animation
  </script>


  </div>
</div>
  <%= render "devise/shared/footer" %>


