<div class="inside-banner mx-auto justify-content-center" >
  <h1>Moodboards</h1>
</div>


<div class="masonry mx-auto text-center">
  <div class=" row mx-auto justify-content-center">

      <% @moodboards.each do |moodboard| %>

        <div class="shoes-cards" style="width: 20rem;">
          <div class="card-img-top">
            <%= cl_image_tag moodboard.photo %>
          </div>

          <div class="card-body">
            <h5 class="card-title"><%= moodboard.shoe_type %></h5>
            <p class="card-text">Ipsum Lorem</p>
            <div class="btn-shoes-cards">
              <%= link_to "Moodboard", moodboard_path(moodboard.id) %>
            </div>
          </div>

          <div>
            <ul class="social">
              <li><%= link_to moodboard_path(moodboard.id), method: :patch do %>
                <i class="far fa-thumbs-up"></i>
                <% end %>
              </li>
              <li><%= moodboard.votes %></li>
              <li></li>
            </ul>
          </div>
        </div>
      <% end %>
  </div>
</div>

