<!-- nav bar -->
<%= render "devise/shared/navbar" %>

<div>
  <div class="inside-banner" style="background-image:url('https://cdn.dribbble.com/users/146798/screenshots/4085472/dribbble.gif')">
    <h1>New Moodboard</h1>
  </div>
</div>


<!-- mood form -->
<div class="background">
  <div class='form-container'>
    <div class="mood-form">
      <%= form_for(@moodboard, :html => { :multipart => true }) do |f| %>
        <div class="field">
          <%= f.label :title %>
          <%= f.text_field :title, { maxlength: 30 } %>
        </div>
        <div class="field">
          <%= f.label :detail %>
          <%= f.text_field :detail, { maxlength: 500 } %>
        </div>
        <div class="field">
          <%= f.label :shoe_type %>
          <%= f.text_field :shoe_type, { maxlength: 25 } %>
        </div>
        <div class="image_fields">
          <%= f.fields_for :moodboard_attachments do |m| %>
            <%= m.label :image %>
            <%= m.file_field :image, :multiple => true, name: "moodboard_attachments[image][]" %>
          <% end %>
        </div>
        <%= f.submit "Share!", class: "form-btn" %>
      <% end %>
    </div>
  </div>
</div>

  <%= render "devise/shared/footer" %>

    <!-- upload area -->

  <!--
  <div class="demo-droppable">
    <p>Drag files here or click to upload</p>
  <input type="file" multiple="true" style="display: none;"></div>
  <div class="output"></div>
  <script type="text/javascript">
    (function(window) {
      function triggerCallback(e, callback) {
        if(!callback || typeof callback !== 'function') {
          return;
        }
        var files;
        if(e.dataTransfer) {
          files = e.dataTransfer.files;
        } else if(e.target) {
          files = e.target.files;
        }
        callback.call(null, files);
      }
      function makeDroppable(ele, callback) {
        var input = document.createElement('input');
        input.setAttribute('type', 'file');
        input.setAttribute('multiple', true);
        input.style.display = 'none';
        input.addEventListener('change', function(e) {
          triggerCallback(e, callback);
        });
        ele.appendChild(input);
        ele.addEventListener('dragover', function(e) {
          e.preventDefault();
          e.stopPropagation();
          ele.classList.add('dragover');
        });
        ele.addEventListener('dragleave', function(e) {
          e.preventDefault();
          e.stopPropagation();
          ele.classList.remove('dragover');
        });
        ele.addEventListener('drop', function(e) {
          e.preventDefault();
          e.stopPropagation();
          ele.classList.remove('dragover');
          triggerCallback(e, callback);
        });
        ele.addEventListener('click', function() {
          input.value = null;
          input.click();
        });
      }
      window.makeDroppable = makeDroppable;
    })(this);
    (function(window) {
      makeDroppable(window.document.querySelector('.demo-droppable'), function(files) {
        console.log(files);
        var output = document.querySelector('.output');
        output.innerHTML = '';
        for(var i=0; i<files.length; i++) {
          if(files[i].type.indexOf('image/') === 0) {
            output.innerHTML += '<img width="200" src="' + URL.createObjectURL(files[i]) + '" />';
          }
          output.innerHTML += '<p>'+files[i].name+'</p>';
        }
      });
    })(this);
  </script>
</div>

