<h1>New moodboard</h1>


<style type="text/css">
  .demo-droppable {
    background: #08c;
    color: #fff;
    padding: 100px 0;
    text-align: center;
  }
  .demo-droppable.dragover {
    background: #00CC71;
  }
</style>


<%= simple_form_for @moodboard do |f| %>
  <%= f.input :title %>
  <%= f.input :detail %>
  <%= f.input :shoe_type %>
  <%= f.input :photo %>
  <%= f.submit "add moodboard", class: "btn btn-primary" %>
<% end %>


<%= simple_form_for @moodboard do |f| %>
  <%= f.input :shoe_type %>
  <%= f.button :submit %>
<% end %>

