
<%= render "/devise/shared/navbar" %>

 <div>
  <div class="text_container">
   <div class="bg-text">MOODBOARD</div>
   <div>
     <ul class="attributes">
       <li>Title: <%= @moodboard.title %></li>
       <li>Poster: <%= @moodboard.user.name %></li>
       <li>Shoe: <%= @moodboard.shoe_type %></li>
       <li>Votes: <%= @moodboard.votes %></li>
       <li>Description: <%= @moodboard.detail %></li>
       <li class="my-3"><%= link_to "Design Shoe", new_moodboard_shoe_path(@moodboard.id), class: "btn-shoes-pop-up"  %></li>
     </ul>
   </div>
  </div>
 </div>


 <div>
    <div class="parallax bg-image" style="background-image: url('<%= cl_image_path @moodboard.photos %>')"></div>
    <div class="bg-image img2"></div>
    <div class="parallax bg-image img3"></div>
    <div class="bg-image img4"></div>
    <div class="parallax bg-image img5"></div>
    <div class="parallax bg-image img6"></div>
</div>


<div id="check-shoes">
  <h2 style="text-align: center">Check the shoes projects</h2>
  <div class="box">
    <a class="btn-shoes-pop-up" href="#popup1">Shoe me</a>
  </div>

  <div id="popup1" class="overlay">
    <div class="popup">
      <h2>NEW SHOES</h2>
      <a class="close" href="#">&times;</a>
      <div class="content">
        <img style="max-width:100%"src="https://cdn.dribbble.com/users/458522/screenshots/6157567/snickers_set_no.1.jpg" alt="Shoes">
      </div>
    </div>
  </div>
</div>

