<p id="notice"><%= notice %></p>

<h1>Moodboard Attachments</h1>

<table>
  <thead>
    <tr>
      <th>Moodboard</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @moodboard_attachments.each do |moodboard_attachment| %>
      <tr>
        <td><%= moodboard_attachment.moodboard %></td>
        <td><%= moodboard_attachment.image %></td>
        <td><%= link_to 'Show', moodboard_attachment %></td>
        <td><%= link_to 'Edit', edit_moodboard_attachment_path(moodboard_attachment) %></td>
        <td><%= link_to 'Destroy', moodboard_attachment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Moodboard Attachment', new_moodboard_attachment_path %>
