<!-- nav bar -->
<%= render "devise/shared/navbar" %>

<% if user_signed_in? && current_user.portfolio != nil %>

  <!-- new shoe form -->
  <div class="container mx-auto mt-3">
    <h1 class="text-center">Design Your Cool Shoe</h1>
      <div class="form">
        <%= simple_form_for [@moodboard, @shoe] do |f| %>
          <div class="field">
            <%= f.input :title %>
          </div>
          <div class="field">
            <%= f.input :detail %>
          </div>
          <div class="field">
            <%= f.file_field :image %>
          </div>
          <%= f.submit "HIT IT", class: "my-3 form-btn" %>
        <% end %>
      </div>
  </div>


<% else %>
<!-- NEED TO FIGURE OUT IF THERE'S ANOTHER SIGN IN TO JUST ADD PORTFOLIO -->
  <%= link_to "Add your portfolio to become a designer", edit_user_registration_path %>
<% end %>
